__pycache__
.code
multi-step-form/env
.ipynb_checkpoints
node_modules
images/
processed/
*.png
*.jpeg
.DS_Store
virtualenv/
htm.core/
venv/
env/
learn-347411-7cae9f54081a.json

CNN/~/tensorflow_datasets/


# experimental data -- large size
*.txt
# *.csv

# images
*.tif
*.jpeg
*.jpg
*.png